<!DOCTYPE>
<html>
	<head>
		<style type="text/css">
			*{
				font-family: Arial;
			}
			table{
				width: 100%;
				text-align:center;
			}
			table,th,td{
				border: 1px solid black;
				border-collapse: collapse;
			}
	</style>
	</head>
	<body>
		<form>
			<table border='1' align="center">
				{% for w in wares %}
				<tr>
					<th rowspan="6"> Warehouse : {{ w.name }} </th>
					<th> Product </th>
					<th> Quantity </th>
				</tr>
				{% for x in range(5) %}
				<tr>
					<td>  {{ w.products[x] }} </td>
					<td>  {{ w.qty[x] }} </td>
				</tr>
				{% endfor %}
			{% endfor %}
			</table>
		</form>
	</body>
</html>